{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
<div class="card-user">
    <p><strong>{{ app.user.prenom }} {{ app.user.nom }} | {{ "now"|date("d/m/Y") }}</strong></p>
</div>
<div>
    <h2>Les sorties</h2>
    <div class="form-filters">
        {{ form_start(checkSortiesForm, {'attr': {'data-turbo': 'false'}}) }}
        <div class="form-left">
            {{ form_row(checkSortiesForm.campus) }}
            {{ form_row(checkSortiesForm.nom) }}
            <div class="calender">
                <div>
                    {{ form_row(checkSortiesForm.dateDebut) }}
                </div>
                <div>
                    {{ form_row(checkSortiesForm.dateFin) }}
                </div>
            </div>
        </div>
        <div class="form-center">
            {{ form_row(checkSortiesForm.organisateur) }}
            {{ form_row(checkSortiesForm.inscrit) }}
            {{ form_row(checkSortiesForm.nonInscrit) }}
            {{ form_row(checkSortiesForm.sortiesPassees) }}
        </div>
        <div>
            <button type="submit">Rechercher</button>
        </div>
        {{ form_end(checkSortiesForm) }}
    </div>
    <!-- Affichage des sorties filtrées -->
    <div id="sorties-container" class="tab-sorties">
        {% if sorties is not empty %}
            <table>
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>État</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut|date('d/m/Y - H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                            <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                            <td>{{ sortie.etatSortie.libelle }}</td>
                            <td>
                                {% if sortie.participants.contains(app.user) %}
                                    <span>&#10004;</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('participant_profile', {id: sortie.organisateur.id}) }}">
                                    {{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom|first }}
                                </a>
                            </td>
                            <td>
                                {% if sortie.etatSortie.id == 1 %}
                                    {% if sortie.organisateur == app.user %}
                                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier - </a>
                                        <form action="{{ path('sortie_publish', {'id': sortie.id}) }}" method="POST" style="display:inline;">
                                            <a href="#" onclick="event.preventDefault(); this.closest('form').submit();">Publier</a>
                                        </form>
                                    {% else %}
                                        <span>Bientôt disponible...</span>
                                    {% endif %}
                                    {% elseif sortie.organisateur == app.user %}
                                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher - </a>
                                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                                    {% elseif sortie.etatSortie.id == 5 %}
                                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                                    {% else %}
                                        {% set participant = app.user %}

                                    {% if participant in sortie.participants %}
                                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                                        <form action="{{ path('sortie_desistement', {'id': sortie.id}) }}" method="POST" style="display:inline;">
                                            <a href="#" onclick="event.preventDefault(); this.closest('form').submit();"> - Se désister</a>
                                        </form>
                                    {% else %}
                                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                                        {% if sortie.etatSortie.id != 6 and sortie.etatSortie.id != 3 and sortie.etatSortie.id != 5 and sortie.participants|length < sortie.nbInscriptionMax %}
                                            <a href="#" onclick="event.preventDefault(); document.getElementById('inscription-form-{{ sortie.id }}').submit();"> - S'inscrire</a>
                                            <form id="inscription-form-{{ sortie.id }}" action="{{ path('sortie_inscription', {'id': sortie.id}) }}" method="post" style="display: none;">
                                                <input type="hidden" name="_token" value="{{ csrf_token('inscription' ~ sortie.id) }}">
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucune sortie disponible pour ce campus.</p>
        {% endif %}
    </div>
</div>
    <div>
        <a href="{{ path('sortie_new') }}">
            <button type="submit">Créer une sortie</button>
        </a>
    </div>
{% endblock %}
