{% extends 'base.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Afficher une sortie</h1>

        <!-- Partie des détails de la sortie -->
        <div style="display: flex; justify-content: space-between;">
            <!-- Colonne de gauche avec les informations de la sortie -->
            <div style="flex: 1; margin-right: 20px;">
                <p><strong>Nom de la sortie :</strong> {{ sortie.nom }}</p>
                <p><strong>Date et heure de la sortie :</strong> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
                <p><strong>Date limite d'inscription :</strong> {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</p>
                <p><strong>Nombre de places :</strong> {{ sortie.nbInscriptionMax }}</p>
                <p><strong>Durée :</strong> {{ sortie.duree }} minutes</p>
                <p><strong>Description et infos :</strong> {{ sortie.infosSortie }}</p>
            </div>

            <!-- Colonne de droite avec les informations du lieu -->
            <div style="flex: 1;">
                <p><strong>Campus :</strong> {{ sortie.organisateur.estRattacheA.nom }}</p>
                <p><strong>Lieu :</strong> {{ lieu.nom }}</p>
                <p><strong>Rue :</strong> {{ lieu.rue }}</p>
                <p><strong>Code postal :</strong> {{ lieu.lieuVille.codePostal }}</p>
                <p><strong>Latitude :</strong> {{ lieu.latitude }}</p>
                <p><strong>Longitude :</strong> {{ lieu.longitude }}</p>
            </div>
        </div>

        <!-- Liste des participants inscrits -->
        <h2>Liste des participants inscrits :</h2>
        <table border="1" cellspacing="0" cellpadding="10" style="width: 100%;">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
                <tr>
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
