<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <h1>Sortir.com</h1>
    {% include ('inc/nav.html.twig') %}
    {% for message in app.flashes('success') %}
        <div class="notification alert flex w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-md  fixed top-20 md:right-2 z-50" data-aos="zoom-in" data-aos-duration="1000" role="alert">
            <div class="flex items-center justify-center w-12 bg-emerald-500">
                <svg class="w-6 h-6 text-black fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z" />
                </svg>
            </div>

            <div class="px-4 py-2 -mx-3">
                <div class="mx-3">
                    <span class="font-semibold text-emerald-500">Réussi</span>
                    <p class="text-sm text-gray-600">{{ message }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('cancel') %}
        <div class="notification alert flex w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-md  fixed top-20 md:right-2 z-50" data-aos="zoom-in" data-aos-duration="1000" role="alert">
            <div class="flex items-center justify-center w-12 bg-emerald-500">
                <svg class="w-6 h-6 text-black fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z" />
                </svg>
            </div>

            <div class="px-4 py-2 -mx-3">
                <div class="mx-3">
                    <span class="font-semibold text-emerald-500">Echec</span>
                    <p class="text-sm text-gray-600">{{ message }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <script defer>
        document.addEventListener('DOMContentLoaded', function () {
            // Select all notifications
            const notifications = document.querySelectorAll('.notification');

            // For each notification
            notifications.forEach(function(notification) {
                // Hide it after 3 seconds
                setTimeout(function() {
                    notification.style.display = 'none';
                }, 5000);

                // Hide it when clicked
                notification.addEventListener('click', function() {
                    notification.style.display = 'none';
                });
            });
        });
    </script>
</header>

<main>

    {% block body %}{% endblock %}

</main>
<footer>
    <div class="copyright">&copy; Sortir - Salomé-Lucky-Emeric-Léo - {{ "now"|date("Y") }}</div>
</footer>

</body>
</html>
